{% extends 'base.html' %}

{% block content %}
<div class="login-page">
  <h3>Log in</h3>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input name="username" class="form-control" id="username" required>
      <div id="emailHelp" class="form-text">You don't have a username here</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <input type="submit" value="Log In" class="btn btn-primary">
  </form>
</div>
{% endblock %}
