.postitem img {
    max-width:100%;
    object-fit: cover;
    height: auto;
}

a:link {
    text-decoration: none;
  }

a:hover {
text-decoration: underline;
}

.feeds_container
{
    text-align:left;
}
.feedname
{
    display:inline;
    text-align:left;
    width: 80%;
}
.feedunreadcount
{
    display:inline;
    text-align:right;
    width: 20%;
    margin-left: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80%;
    text-align: right;

  }

  .counter-box div.counter-number {
    font-size: 40px;
    line-height: 60px;
    color: rgb(0, 0, 0);
    display: block;
    letter-spacing: 2px;
  }

  #a500 {
    padding: 5px;
    background: #fff;
    font-size: 200px;
    text-align: left;
    margin-bottom: 20px;
    }

.star {
  float:right;
  margin-right: 10px;
}
