.postitem img {
    max-width:100%;
}

a:link {
    text-decoration: none;
  }

a:hover {
text-decoration: underline;
}

.feeds_container
{
    text-align:left;
}
.feedname
{
    display:inline;
    text-align:left;
    width: 80%;
}
.feedunreadcount
{
    display:inline;
    text-align:right;
    width: 20%;
    margin-left: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80%;
    text-align: right;

  }