{% extends 'base.html' %}

{% block content %}
<div class="content-page">
  <h2>Feed Admin</h2>

  <h3>Add a new feed</h3>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="mb-3">
      <label for="feedurl" class="form-label">Feed URL</label>
      <input name="feedurl" class="form-control" id="feedurl" required>
    </div>
    <div class="mb-3">
      <label for="feedtitle" class="form-label">Feed Title</label>
      <input name="feedtitle" class="form-control" id="feedtitle" required>
    </div>
    <div class="mb-3">
      <label for="websiteurl" class="form-label">Website URL</label>
      <input name="websiteurl" class="form-control" id="websiteurl" required>
    </div>
    <input type="submit" value="Add Feed" class="btn btn-primary">
  </form>

  <hr style="margin: 32px 0;">

  <h3>Feeds</h3>
  {% for item in feedlist %}
  <div class="row justify-content-start mydiv" style="margin: 0;">
    <div class="col-3">
      <form action="{{ url_for('deletefeed', id=item[0]) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input class="danger" type="submit" value="Delete">
      </form>
    </div>
    <div class="col">
      {{ item[1] }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
