{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3 d-none d-sm-block">

            <div class="counter-box">
                <div class="counter-number" id="unreadcount"> {{ unreadcount | safe}}</div>
            </div>

            <h2>Feeds</h2>

            {% for item in unreadcounts %}
            <div class="feeds_container">
                <div class="feedname" id="feedname-{{ item[2] }}">{{ item[0]|truncate(22) }}</div>
                <div class="feedunreadcount" id="{{ item[2] }}"><strong>{{ item[1] }}</strong></div>
            </div>
            <hr class="d-sm-none">
            {% endfor %}
            <div class="leftnavstuff">
                <a href="{{ url_for('stars') }}">Stars</a><br>
                <a href="{{ url_for('feedadmin') }}">Feeds Admin</a>
                <div class="left-footer">
                    <p>© Copyright {{ now.year }} <br><a href="http://www.spudooli.com" target="_blank">Spudooli
                            Investments Ltd</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="postitem" style="overflow:hidden">
                {% for item in newsitems %}
                <div id="skiddly-{{ item[0] }}" tabindex="{{ item[0] }}" class="itembody">
                    <small>
                        <div onclick="getfocus({{ item[0] }},{{ item[7] }})" style="float:right;">
                            {{item[6].strftime('%A, %-d %B, %Y %-H:%M %p')}} </div>
                    </small>
                    <h6 class="faviconimg"><img src="/static/icons/{{ item[7] }}.gif" width="16" height="16"
                            style="margin-right: 10px; margin-bottom: 3px;"> {{item[5]}} </h6>
                    {% if item[1] == None %}
                    {% if 'bsky' not in item[2] %}
                    <h4><a href="{{ item[2]}}">_</a></h4>
                    </h3>
                    {% endif %}
                    {% else %}
                    <h4>
                        <div class="star" onclick="setstar({{ item[0] }})">
                            {% if item[8] == None %}<ion-icon id="star-{{ item[0] }}" name="star-outline"></ion-icon>
                            {% else %} <ion-icon id="star-{{ item[0] }}" name="star"></ion-icon>
                            {% endif %} </div> <a href="{{ item[2]}}">{{ item[1]|safe}}</a>
                    </h4>
                    {% endif %}
                    <div onclick="getfocus({{ item[0] }},{{ item[7] }})">

                        {{item[3] | replace("
                        <hr>", "") | safe}}

                    </div>
                    <hr class="makesomeroom">
                </div>
                {% endfor %}

            </div>

            <script>
                let maxItemId = Math.max(0, ...[...document.querySelectorAll('.itembody')].map(el => parseInt(el.id.replace('skiddly-', ''))));

                function buildItemHTML(item) {
                    const starIcon = item.starred
                        ? `<ion-icon id="star-${item.id}" name="star"></ion-icon>`
                        : `<ion-icon id="star-${item.id}" name="star-outline"></ion-icon>`;

                    let titleBlock = '';
                    if (item.title === null) {
                        if (!item.url.includes('bsky')) {
                            titleBlock = `<h4><a href="${item.url}">_</a></h4>`;
                        }
                    } else {
                        titleBlock = `<h4><div class="star" onclick="setstar(${item.id})">${starIcon}</div> <a href="${item.url}">${item.title}</a></h4>`;
                    }

                    return `<div id="skiddly-${item.id}" tabindex="${item.id}" class="itembody">
                        <small><div onclick="getfocus(${item.id},${item.feed_id})" style="float:right;">${item.date_published}</div></small>
                        <h6 class="faviconimg"><img src="/static/icons/${item.feed_id}.gif" width="16" height="16" style="margin-right: 10px; margin-bottom: 3px;"> ${item.feed_title}</h6>
                        ${titleBlock}
                        <div onclick="getfocus(${item.id},${item.feed_id})">${item.content}</div>
                        <hr class="makesomeroom">
                    </div>`;
                }

                function updateSidebar(unreadcounts) {
                    unreadcounts.forEach(feed => {
                        const countEl = document.getElementById(String(feed.feed_id));
                        const nameEl = document.getElementById('feedname-' + feed.feed_id);
                        if (countEl) {
                            countEl.querySelector('strong').textContent = feed.count;
                            countEl.style.display = '';
                            if (nameEl) nameEl.style.display = '';
                        } else {
                            const leftNav = document.querySelector('.leftnavstuff');
                            const container = document.createElement('div');
                            container.className = 'feeds_container';
                            container.innerHTML = `<div class="feedname" id="feedname-${feed.feed_id}">${feed.feed_title.substring(0, 22)}</div><div class="feedunreadcount" id="${feed.feed_id}"><strong>${feed.count}</strong></div>`;
                            leftNav.parentNode.insertBefore(container, leftNav);
                            const hr = document.createElement('hr');
                            hr.className = 'd-sm-none';
                            leftNav.parentNode.insertBefore(hr, leftNav);
                        }
                    });
                }

                function fetchNewPosts() {
                    fetch('/newposts?after=' + maxItemId)
                        .then(r => r.json())
                        .then(data => {
                            if (data.items.length > 0) {
                                const container = document.querySelector('.postitem');
                                data.items.forEach(item => {
                                    if (item.id > maxItemId) maxItemId = item.id;
                                    const temp = document.createElement('div');
                                    temp.innerHTML = buildItemHTML(item);
                                    container.appendChild(temp.firstElementChild);
                                });
                            }
                            updateSidebar(data.unreadcounts);
                        });
                }

                function unreadcount() {
                    fetch('unreadcount')
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById('unreadcount').textContent = data;
                            document.title = document.getElementById('unreadcount').innerText + ' Spudooli Feed Reader';
                        });
                }

                window.onload = function () {
                    unreadcount();
                    setInterval(unreadcount, 60000);
                    setInterval(fetchNewPosts, 600000);
                };
            </script>

            {% endblock %}


        </div>
    </div>
</div>