{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3">
      
        </div>

        <div class="col-sm-9">
            <div class="postitem" style="overflow:hidden">
                <h2>My Reading List</h2>
               <p>This is what <a href="https://www.spudooli.com">I'm</a> currently reading</p>

                {% for item in readinglist %}
                <a href="{{ item[2] }}">{{ item[1]}}</a><br>
                {% endfor %}
                
                </div>
                    {% endblock %}





        </div>
    </div>
</div>